html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* body {
  background-image: url(/images/paper-texture.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
} */

h1 {
  text-align: center;
}
div.task-input-ctnr {
  display: flex;
  justify-content: center;
}
